.version.about_us /* version checker */
{
	color: #0000E8;
	background-color: #2B3E1C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5499999999994px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -41px;
	width: 0.01px;
}

#u76
{
	z-index: 17;
	min-height: 39px;
	padding-bottom: 6px;
}

#u76_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u81-4
{
	z-index: 18;
	width: 281px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 120px;
}

#menuu113
{
	z-index: 22;
	width: 446px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 412px;
}

#u121
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u124
{
	width: 87px;
	padding-bottom: 17px;
}

#u124:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u124:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u125-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u124:hover #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u124:active #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u114
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u115
{
	width: 87px;
	padding-bottom: 17px;
}

#u124.MuseMenuActive,#u115:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u115:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u115.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u116-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u124.MuseMenuActive #u125-4,#u115:hover #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u115:active #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u115.MuseMenuActive #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u129
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u130
{
	width: 88px;
	padding-bottom: 17px;
}

#u130:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u130:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u133-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u130:hover #u133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u130:active #u133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u136
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u139
{
	width: 88px;
	padding-bottom: 17px;
}

#u130.MuseMenuActive,#u139:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u139:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u142-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u130.MuseMenuActive #u133-4,#u139:hover #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u139:active #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u144
{
	width: 88px;
	padding-bottom: 17px;
}

#u139.MuseMenuActive,#u144:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u144:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u144.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u139.MuseMenuActive #u142-4,#u144:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u144:active #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u144.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u150-4
{
	z-index: 53;
	width: 146px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 967px;
}

#u76-bw
{
	z-index: 17;
	min-height: 39px;
}

#u389
{
	z-index: 57;
	height: 180px;
	background: transparent url("../images/prodotti-87457-rel9cc5de6fd93042b49036bc0ce3688504.jpg") no-repeat center center;
	background-size: cover;
}

#u389-bw
{
	z-index: 57;
	margin-top: 1px;
	height: 180px;
}

#u402
{
	z-index: 58;
	width: 1600px;
	background-color: #2C3E50;
	left: -320px;
	position: relative;
}

#u403-4
{
	z-index: 59;
	width: 105px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 745px;
}

#pu405-18
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 22px;
}

#u405-18
{
	z-index: 63;
	width: 845px;
	min-height: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u405-2,#u405-3,#u405-5,#u405-6,#u405-8,#u405-9,#u405-11,#u405-12,#u405-14
{
	text-align: center;
	font-family: basic, sans-serif;
	font-weight: 400;
}

#buttonu407
{
	z-index: 81;
	width: 143px;
	border-color: #787878;
	background-color: #2C3E50;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 278px;
	left: 349px;
}

#buttonu407:hover
{
	background-color: #545454;
	width: 143px;
	min-height: 0px;
	margin: 278px -10000px 0px 0px;
}

#u408-4
{
	z-index: 82;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 12px;
}

#buttonu407:hover #u408-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 7px -10000px 0px 0px;
}

#buttonu407.ButtonSelected #u408-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 7px -10000px 0px 0px;
}

#buttonu407:hover #u408-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u409
{
	z-index: 86;
	width: 35px;
	height: 29px;
	margin-left: 843px;
	margin-top: 22px;
	position: relative;
}

.ie #u409
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u412
{
	z-index: 11;
	width: 29px;
	margin-left: 468px;
	top: -19px;
	margin-bottom: -19px;
}

#u411-4
{
	z-index: 13;
	width: 23px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u410
{
	z-index: 12;
	width: 29px;
	height: 22px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u75
{
	z-index: 2;
	min-height: 102.54999999999995px;
	padding-bottom: 0px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 21px;
	padding-bottom: 26px;
	margin-bottom: -4px;
}

#u108-4
{
	z-index: 3;
	width: 671px;
	min-height: 23px;
	left: 270px;
}

#u110-4
{
	z-index: 7;
	width: 308px;
	min-height: 23px;
	left: 441px;
	margin-top: 10px;
}

#u75-bw
{
	z-index: 2;
	min-height: 102.54999999999995px;
	margin-top: -4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

