.version.references /* version checker */
{
	color: #0000FB;
	background-color: #00C8A1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -41px;
	width: 0.01px;
}

#u76
{
	z-index: 17;
	min-height: 39px;
	padding-bottom: 6px;
}

#u76_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u81-4
{
	z-index: 18;
	width: 281px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 120px;
}

#menuu113
{
	z-index: 22;
	width: 446px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 412px;
}

#u121
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u124
{
	width: 87px;
	padding-bottom: 17px;
}

#u124:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u124:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u125-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u124:hover #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u124:active #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u114
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u115
{
	width: 87px;
	padding-bottom: 17px;
}

#u124.MuseMenuActive,#u115:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u115:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u115.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u116-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u124.MuseMenuActive #u125-4,#u115:hover #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u115:active #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u115.MuseMenuActive #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u129
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u130
{
	width: 88px;
	padding-bottom: 17px;
}

#u130:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u130:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u133-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u130:hover #u133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u130:active #u133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u136
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u139
{
	width: 88px;
	padding-bottom: 17px;
}

#u130.MuseMenuActive,#u139:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u139:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u142-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u130.MuseMenuActive #u133-4,#u139:hover #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u139:active #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u144
{
	width: 88px;
	padding-bottom: 17px;
}

#u139.MuseMenuActive,#u144:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u144:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u144.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u139.MuseMenuActive #u142-4,#u144:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u144:active #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u144.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u150-4
{
	z-index: 53;
	width: 146px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 967px;
}

#u76-bw
{
	z-index: 17;
	min-height: 39px;
}

#u471
{
	z-index: 57;
	height: 180px;
	background: transparent url("../images/shutterstock_251280265-700x467.jpg") no-repeat center center;
	background-size: cover;
}

#u471-bw
{
	z-index: 57;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 180px;
}

#u472
{
	z-index: 58;
	width: 1600px;
	background-color: #2C3E50;
	padding-bottom: 1px;
	left: -320px;
	margin-top: 1px;
	position: relative;
}

#u473-4
{
	z-index: 59;
	width: 108px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 745px;
}

#u481-4
{
	z-index: 63;
	width: 157px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	color: #2C3E50;
	font-size: 18px;
	text-align: center;
	font-family: basic, sans-serif;
	font-weight: 400;
	margin-left: 395px;
	margin-top: 12px;
	position: relative;
}

#u483
{
	z-index: 67;
	width: 551px;
	background-color: transparent;
	margin-left: 198px;
	margin-top: 20px;
	position: relative;
}

#slideshowu489
{
	z-index: 69;
	width: 0.01px;
	height: 180px;
	margin-left: 146px;
	margin-top: 9px;
	position: relative;
}

#u499
{
	position: absolute;
	width: 684px;
	height: 542px;
	border-style: none;
	border-color: transparent;
	background-color: #415161;
	background-color: rgba(44,62,80,0.9);
	top: 262px;
	left: 79px;
	-pie-background: rgba(44,62,80,0.9);
}

#u499popup
{
	z-index: 70;
}

#u502
{
	z-index: 71;
	width: 640px;
	height: 480px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u584
{
	z-index: 73;
	width: 640px;
	height: 480px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u593
{
	z-index: 75;
	width: 640px;
	height: 480px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u602
{
	z-index: 77;
	width: 640px;
	height: 480px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u611
{
	z-index: 79;
	width: 640px;
	height: 480px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u620
{
	z-index: 81;
	width: 640px;
	height: 480px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u629
{
	z-index: 83;
	width: 640px;
	height: 480px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u502_img,#u602_img,#u611_img,#u629_img
{
	padding: 105px 80px;
}

#u638
{
	z-index: 85;
	width: 640px;
	height: 480px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u638_img
{
	padding: 60px 169px 60px 170px;
}

#u647
{
	z-index: 87;
	width: 640px;
	height: 480px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u584_img,#u593_img,#u620_img,#u647_img
{
	padding: 60px 219px;
}

#u656
{
	z-index: 89;
	width: 640px;
	height: 480px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u656_img
{
	padding: 60px 162px;
}

#u507
{
	position: absolute;
	width: 654px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 20px;
}

#u507popup
{
	z-index: 91;
}

#u510
{
	z-index: 92;
	width: 104px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u587
{
	z-index: 94;
	width: 104px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 161px;
}

#u596
{
	z-index: 96;
	width: 104px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 275px;
}

#u605
{
	z-index: 98;
	width: 104px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u614
{
	z-index: 100;
	width: 104px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 503px;
}

#u510:hover,#u587:hover,#u596:hover,#u605:hover,#u614:hover
{
	width: 104px;
	height: 75px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u623
{
	z-index: 102;
	width: 104px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 47px;
}

#u632
{
	z-index: 104;
	width: 104px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 161px;
}

#u641
{
	z-index: 106;
	width: 104px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 275px;
}

#u650
{
	z-index: 108;
	width: 104px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 389px;
}

#u659
{
	z-index: 110;
	width: 104px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 503px;
}

#u623:hover,#u632:hover,#u641:hover,#u650:hover,#u659:hover
{
	width: 104px;
	height: 75px;
	min-height: 0px;
	margin: 85px -10000px 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u530
{
	z-index: 112;
	width: 37px;
	height: 31px;
	margin-left: 887px;
	margin-top: 25px;
	position: relative;
}

.ie #u530
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u412
{
	z-index: 11;
	width: 29px;
	margin-left: 468px;
	top: -19px;
	margin-bottom: -19px;
}

#u411-4
{
	z-index: 13;
	width: 23px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u410
{
	z-index: 12;
	width: 29px;
	height: 22px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u75
{
	z-index: 2;
	min-height: 102.54999999999995px;
	padding-bottom: 0px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 21px;
	padding-bottom: 26px;
	margin-bottom: -4px;
}

#u108-4
{
	z-index: 3;
	width: 671px;
	min-height: 23px;
	left: 270px;
}

#u110-4
{
	z-index: 7;
	width: 308px;
	min-height: 23px;
	left: 441px;
	margin-top: 10px;
}

#u75-bw
{
	z-index: 2;
	min-height: 102.54999999999995px;
	margin-top: -4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

