.version.services /* version checker */
{
	color: #0000F1;
	background-color: #CC0E9D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -41px;
	width: 0.01px;
}

#u76
{
	z-index: 17;
	min-height: 39px;
	padding-bottom: 6px;
}

#u76_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u81-4
{
	z-index: 18;
	width: 281px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 120px;
}

#menuu113
{
	z-index: 22;
	width: 446px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 412px;
}

#u121
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u124
{
	width: 87px;
	padding-bottom: 17px;
}

#u124:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u124:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u125-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u124:hover #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u124:active #u125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u114
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u115
{
	width: 87px;
	padding-bottom: 17px;
}

#u124.MuseMenuActive,#u115:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u115:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u115.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u116-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u124.MuseMenuActive #u125-4,#u115:hover #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u115:active #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u115.MuseMenuActive #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u129
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u130
{
	width: 88px;
	padding-bottom: 17px;
}

#u130:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u130:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u133-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u130:hover #u133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u130:active #u133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u136
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u139
{
	width: 88px;
	padding-bottom: 17px;
}

#u130.MuseMenuActive,#u139:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u139:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u142-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u130.MuseMenuActive #u133-4,#u139:hover #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u139:active #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u144
{
	width: 88px;
	padding-bottom: 17px;
}

#u139.MuseMenuActive,#u144:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u144:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u144.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u139.MuseMenuActive #u142-4,#u144:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u144:active #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u144.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u150-4
{
	z-index: 53;
	width: 146px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 967px;
}

#u76-bw
{
	z-index: 17;
	min-height: 39px;
}

#u417
{
	z-index: 57;
	height: 180px;
	background: transparent url("../images/skylight.jpg") no-repeat center center;
	background-size: cover;
}

#u417-bw
{
	z-index: 57;
	height: 180px;
}

#u418
{
	z-index: 58;
	width: 1589px;
	background-color: #2C3E50;
	left: -320px;
	position: relative;
}

#u419-4
{
	z-index: 59;
	width: 105px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 745px;
}

#pu420-26
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 22px;
}

#u420-26
{
	z-index: 63;
	width: 845px;
	min-height: 349px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u420-4,#u420-5,#u420-6,#u420-7,#u420-9,#u420-10,#u420-11,#u420-15,#u420-16,#u420-17,#u420-20,#u420-21,#u420-22
{
	text-align: center;
	font-family: basic, sans-serif;
	font-weight: 400;
}

#u429
{
	z-index: 135;
	width: 186px;
	height: 105px;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 41px;
	background: transparent url("../images/834151789_1_644x461_aluminium-windowsdoorsshopfrontsresidential-and-commercial-glass-installations-kempton-park.jpg") no-repeat center center;
	background-size: cover;
}

#u438
{
	z-index: 136;
	width: 186px;
	height: 105px;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 235px;
	background: transparent url("../images/window-installation.jpg") no-repeat center center;
	background-size: cover;
}

#u440
{
	z-index: 137;
	width: 186px;
	height: 105px;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 429px;
	background: transparent url("../images/installedvirtualshopfront.jpg") no-repeat center top;
	background-size: cover;
}

#u444
{
	z-index: 138;
	width: 186px;
	height: 105px;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	left: 622px;
	background: transparent url("../images/skylight-u444-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu434
{
	width: 0.01px;
	margin-left: 99px;
}

#u434
{
	z-index: 139;
	width: 186px;
	background-color: #2C3E50;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u451-6
{
	z-index: 143;
	width: 185px;
	min-height: 27px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
}

#u439
{
	z-index: 140;
	width: 186px;
	background-color: #2C3E50;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 194px;
}

#u458-4
{
	z-index: 149;
	width: 185px;
	min-height: 27px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 2px;
}

#u441
{
	z-index: 141;
	width: 186px;
	background-color: #2C3E50;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 388px;
}

#u465-4
{
	z-index: 153;
	width: 185px;
	min-height: 27px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
}

#u443
{
	z-index: 142;
	width: 186px;
	background-color: #2C3E50;
	position: relative;
	margin-right: -10000px;
	left: 581px;
}

#u466-12
{
	z-index: 157;
	width: 182px;
	min-height: 65px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	margin-bottom: -19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u467-45
{
	z-index: 89;
	width: 845px;
	min-height: 545px;
	background-color: transparent;
	margin-left: 58px;
	margin-top: 7px;
	position: relative;
}

#u420-2,#u420-13,#u420-19,#u467,#u467-3,#u467-14,#u467-38
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	color: #2C3E50;
	font-family: basic, sans-serif;
	font-weight: 400;
}

#u467-5,#u467-6,#u467-8,#u467-9,#u467-11,#u467-12,#u467-16,#u467-18,#u467-19,#u467-21,#u467-22,#u467-24,#u467-25,#u467-27,#u467-29,#u467-31,#u467-33,#u467-35,#u467-37,#u467-39,#u467-40,#u467-41
{
	text-align: center;
	line-height: 17px;
	font-family: basic, sans-serif;
	font-weight: 400;
}

#u467-42
{
	line-height: 17px;
}

#u421
{
	z-index: 134;
	width: 35px;
	height: 29px;
	margin-left: 978px;
	margin-top: 20px;
	position: relative;
}

.ie #u421
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u412
{
	z-index: 11;
	width: 29px;
	margin-left: 468px;
	top: -19px;
	margin-bottom: -19px;
}

#u411-4
{
	z-index: 13;
	width: 23px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u410
{
	z-index: 12;
	width: 29px;
	height: 22px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u75
{
	z-index: 2;
	min-height: 102.54999999999995px;
	padding-bottom: 0px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 21px;
	padding-bottom: 26px;
	margin-bottom: -4px;
}

#u108-4
{
	z-index: 3;
	width: 671px;
	min-height: 23px;
	left: 270px;
}

#u110-4
{
	z-index: 7;
	width: 308px;
	min-height: 23px;
	left: 441px;
	margin-top: 10px;
}

#u75-bw
{
	z-index: 2;
	min-height: 102.54999999999995px;
	margin-top: -4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

